BalancedSearchTree/bin/
BalancedSearchTree/obj/
BalancedSearchTree.Tests/obj/
BalancedSearchTree.Tests/bin/
BalancedSearchTree.PerfTest/obj/
BalancedSearchTree.PerfTest/bin/
CountingSorting/obj/
CountingSorting/bin/
CountingSorting.Tests/obj/
CountingSorting.Tests/bin/